body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 97.40vh;
    width: 99.89vw;
}
header {
    width: 100%;
    border: 1px solid red;
    flex: 0.5;
}
nav {
    width: 100%;
    background-color: aqua;
    border: 1px solid red;
    flex: 0;
}
section {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    border: 1px solid red;
    flex: 3;
}
article {
    flex: 2;
    height: 100%;
    border: 1px solid red;
}
aside {
    flex: 1;
    background-color: gray;
    border: 1px solid red;
    height: 50%;
}
footer {
    width: 100%;
    background-color: blueviolet;
    border: 1px solid red;
    flex: 0;
}
