body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#list {
    display: inline-flex;
    flex-flow: row wrap;
    flex-grow: 3;
    justify-content: space-around;
    width: 100%;
    margin-top: 6%;
}

header {
    position: fixed;
    background-color: rgb(52, 52, 52);
    color: white;
    width: 100%;
    height: 10%;
}

#title {
    margin-left: 2.5%;
}

.category {
    width: 30%;
    height: 20%;
    margin-top: 2.5%;
    text-align: center;
}

#form {
    display: none;
    margin-top: 10%;
    width: 100%;
    text-align: center;
}