* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #424242;
}

body {
    width: 80vw;
    height: 90vh;
    margin: 1% auto 0 auto;
    padding: 1%;
    background-color: #ffffff;
}

h2 {
    background-color: #424242;
    color: #ffffff;
    box-shadow: 2px;
    padding: 0.5%;
    text-align: center;
}

form {
    background-color: #424242;
    margin-top: 1%;
    color: #ffffff;
}

section {
    color: #424242;
}